Django==1.8.7
six==1.10.0
python-dateutil==2.4.2
Markdown==2.6.4
pyenchant==1.6.6
pytz==2015.7
amqp==1.4.7
billiard==3.3.0.21
amqplib==1.0.2
anyjson==0.3.3
kombu==3.0.29
django-picklefield==0.3.2
pyparsing==2.0.5
celery==3.1.19
django-celery==3.1.17
poster==0.8.1
html5lib==0.9999999
BeautifulSoup==3.2.1
psycopg2==2.6.1
requests==2.8.1
coverage==4.0.2
pep8==1.6.2
pyflakes==1.0.0
mccabe==0.3.1
flake8==2.5.0
statsd==3.2.1
gunicorn==19.3.0
boto==2.38.0
sqlparse==0.1.16

django-statsd-mozilla==0.3.16
raven==5.5.0
django-markwhat==1.4
django-storages-redux==1.3
django-cacheds3storage==0.1.1
django-appconf==1.0.1
django-compressor==1.5
django-smoketest==0.3.0
django-debug-toolbar==1.4
django-waffle==0.11
django-jenkins==0.18.1
django-extensions==1.5.9

thraxilsettings==0.3.0
