Django==2.1.4
six==1.12.0
python-dateutil==2.7.5

Markdown==3.0
pytz==2018.7

vine==1.2.0
amqp==2.3.2

billiard==3.5.0.5
amqplib==1.0.2
anyjson==0.3.3
kombu==4.2.2.post1
django-picklefield==2.0

pyparsing==2.3.0
celery==4.2.1

html5lib==1.0.1
beautifulsoup4==4.7.0
psycopg2-binary==2.7.6.1

chardet==3.0.4
idna==2.8
urllib3==1.24.1
certifi==2018.11.29

requests==2.21.0

coverage==4.5.2

pep8==1.7.1
pyflakes==2.0.0

pycodestyle==2.3.1

mccabe==0.6.1

enum34==1.1.6
configparser==3.5.0
flake8==3.5.0
statsd==3.3.0
gunicorn==19.9.0
boto==2.49.0
sqlparse==0.2.4
raven==6.10.0

django-statsd-mozilla==0.4.0

django-markwhat==1.6.1

django-storages==1.7.1

django-cacheds3storage==0.1.2
django-appconf==1.0.2
django-compressor==2.2
django-smoketest==1.1.0
django-debug-toolbar==1.11
django-waffle==0.15.0
django-jenkins==0.110.0

thraxilsettings==3.1.0

