{% extends 'base.html' %}

{% block content %}

{% if queued %}
<div style="width: 100%; background-color: #fcc;">Queue is currently at: {{queued}}</div>
{% endif %}

{% if html %}

<form action="." method="post">
<b>Tags</b><br />
<input type="text" name="tags" style="width:100%" /><br />

<table>
{% for image in images %}
<tr>
<td valign="top"><input type="checkbox" name="image_{{image.src}}" /></td>
<td>
<img src="{{image.src}}" />
</td>
</tr>
{% endfor %}
</table>
<input type="submit" value="ingest"/>
</form>




{% else %}
{% if url %}
<form action="." method="post">
<input type="hidden" name="url" value="{{url}}" />
<b>Tags</b><br />
<input type="text" name="tags"  style="width:100%" /><br />

<input type="submit" value="ingest"/>
</form>
<img src="{{url}}" />



{% else %}
<p>you need an image to import.</p>
<p><a href="javascript:window.location='http://{{request.get_host}}/import/?url='+escape(window.location);">bookmarklet</a></p>
<p>TODO: this should be an image upload form w/ drag+drop support.</p>
{% endif %}
{% endif %}

{% endblock %}
